/recommend/algo.pickle
/recommend/trainset.csv
/recommend/ratings_clean.csv
/recommend/recc.csv
/recommend/movies.csv
/recommend/other/ratings.csv
/recommend/other/users.csv
/.idea/
/venv/
__pycharm__