Flask>=2.1.2
aiohttp>=3.8.1
requests>=2.27.1
beautifulsoup4>=4.11.1
pymongo>=4.1.1
gunicorn>=20.1.0
lxml>=4.8.0
dnspython>=2.2.1
pandas>=1.1.5
surprise>=0.1
cryptography>=37.0.2
numpy>=1.22.4
scipy>=1.8.1
Pillow>=9.2.0
flask_compress>=1.12
flask_cdn>=1.5.3