.content {
    display:flex;
    flex-direction:column;
    justify-content: center;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:200px;
}

body{
    background: #14181c url(https://s.ltrbxd.com/static/img/content-bg.0d9a0f0f.png) 0 -1px repeat-x;
}

.chart-container{
  margin: auto;
  height: 120px;
  width: 80%;
}

.attributes-chart{
    display:flex;
    margin: auto;
    flex-direction:row;
    flex-wrap:nowrap;
    width: 80%;
    height: 295px;
}

.worldmap{
    width: 100%;
    height: 500px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.pielists{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.hole {
  width: 188px; height: 188px;
  border-radius: 50%;
  background: #14181c;
}

.donut {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 209px; height: 209px;
    border-radius: 50%;
}

.actors{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.holeperson{
    position: relative;
    top: -30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.container_people{
    display:flex;
    flex-direction: column;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}