.content {
    display:flex;
    flex-direction:column;
    justify-content: center;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
}

body{
    background: #14181c url(https://s.ltrbxd.com/static/img/content-bg.0d9a0f0f.png) 0 -1px repeat-x;
}

.chart-container{
  margin: auto;
  height: 300px;
  width: 80%;
}

.attributes-chart{
    display:flex;
    margin: auto;
    flex-direction:row;
    flex-wrap:nowrap;
    width: 80%;
}

.worldmap{
    width: 100%;
    height: 500px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}