<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>&lrm;{{ user.username }}’s all-time stats &bull; Letterboxd</title>
        <script src="//cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-jvectormap-2.0.5.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-jvectormap-2.0.5.min.js') }}"></script>
        <script src="//jvectormap.com/js/jquery-jvectormap-world-mill.js"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://rawgit.com/highcharts/rounded-corners/master/rounded-corners.js"></script>
    </head>
    <body>
        <div id="isMobile"></div>
        <div class="headerbar">
            <a href="https://letterboxd.com/">
                <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="letterboxdlogo"/>
            </a>
            <span class="madeby">Project made by GiuDiMax</span>
        </div>
        <div id="content" class="content">
            <section class="mainTitlesec">
                {% if year == '' %}
                    <h1 class="mainTitle">A Life in Film</h1>
                {% else %}
                    <h1 class="mainTitle yearTitle">{{ yearnum }}</h1>
                {% endif %}
                <div class="numbersStats">
                    <div>
                        <span class="number">{{ format_comma(user['stats'+year].total[0].movies) }}</span>
                        <span class="text">Films</span>
                    </div>
                    <div>
                        <span class="number">{{ format_comma(user['stats'+year].total[0].runtime/60) }}</span>
                        <span class="text">Hours</span>
                    </div>
                    {% if year == '' %}
                    <div>
                        <span class="number">{{ format_comma(user['stats'+year].totalDirectors[0].count) }}</span>
                        <span class="text">Directors</span>
                    </div>
                    <div>
                        <span class="number">{{ format_comma(user['stats'+year].totalCountry[0].count) }}</span>
                        <span class="text">Countries</span>
                    </div>
                    {% endif %}
                </div>
            </section>
            {% if year == '' %}
            <section class="sectionStats">
                <div class="sepline">
                    <span>By release year</span>
                    <div class="line"></div>
                    <span class="clickable active" data-show="releaseYear" data-hide="yearChart">Films</span>
                    <span class="clickable" data-show="ratingYear" data-hide="yearChart">Ratings</span>
                </div>
                <div class="chart-container">
                    <div id="releaseYear" class="yearChart"></div>
                    <div id="ratingYear" class="yearChart hide"></div>
                </div>
                <div class="years">
                    <span>{{ user['stats'+year].totalyear[0]._id }}</span>
                    <span>{{ user['stats'+year].totalyear[-1]._id }}</span>
                </div>
            </section>
            <section class="sectionStats">
                <div class="sepline">
                    <span>Highest rated decades</span>
                    <div class="line"></div>
                </div>
                {% for element in user['stats'+year].topDecade %}
                    <div class="decade">
                        <span class="decadeTitle">{{ element._id }}0s</span>
                        <div class="decPosters">
                        {%for element2 in element.posters%}
                            <a class="poster decPosterImg" href="{{ lbdurl }}film/{{ element2.uri }}">
                                <img class="lazy" src="{{ url_for('static', filename='images/poster.jpg') }}" data-src="{{ replaceSize(element2.img, 70, 105) }}" alt="{{ element.uri }}" />
                            </a>
                        {%endfor%}
                        </div>
                    </div>
                {%endfor%}
            </section>
            {% endif %}
            <section class="sectionStats">
                <div class="sepline">
                    <span>Genres, Countries & Languages</span>
                    <div class="line"></div>
                </div>
                <div class="attributes-chart threeColumns">
                    {% for type in [['genres_main', 'genre', 'rgb(0, 224, 84)'], ['country','country', 'rgb(64, 188, 244)'], ['language','language', 'rgb(255, 128, 0)']] %}
                    <div class="labels2">
                        {% for i in range(10) %}
                            <div>
                                <a class="clickable label1" href="{{ lbdurl }}{{ user.username }}/films/{% if yearnum != 0 %}diary/for/{{ yearnum }}/{% endif %}{{ type[1] }}/{{ user['stats'+year]['mostWatched'+type[0]][i]['_id'] }}">
                                    {{ firstUpper(user['stats'+year]['mostWatched'+type[0]][i]['_id']) }}
                                </a>
                                <div>
                                    <div class="genresFilms" style="width: {{ user['stats'+year]['mostWatched'+type[0]][i]['sum']*100/user['stats'+year]['mostWatched'+type[0]][0]['sum'] }}%;"><span>{{ user['stats'+year]['mostWatched'+type[0]][i]['sum'] }} films</span></div>
                                    <div class="progressBarWithVal" style="width:{{ user['stats'+year]['mostWatched'+type[0]][i]['sum']*100/user['stats'+year]['mostWatched'+type[0]][0]['sum'] }}%; background-color:{{ type[2] }};"></div>
                                </div>
                            </div>
                        {%endfor%}
                    </div>
                    {%endfor%}
                </div>
            </section>
            <section class="sectionStats">
                <div class="sepline">
                    <span>Themes & Nanogenres®</span>
                    <div class="line"></div>
                </div>
                <div class="attributes-chart twocolumn">
                    {% for type in ['theme','mini-theme'] %}
                    <div class="labels">
                        {% for i in range(10) %}
                                <a class="clickable label2" href="{{ lbdurl }}{{ user.username }}/films/{% if yearnum != 0 %}diary/for/{{ yearnum }}/{% endif %}{{type}}/{{ user['stats'+year]['mostWatchedgenres_' + type + 's'][i]['_id'] }}">

                                    <span class="leftText">
                                        {{ firstUpper(user['stats'+year]['mostWatchedgenres_' + type + 's'][i]['_id']) }}
                                    </span>
                                    <span class="bold right">
                                        {{ user['stats'+year]['mostWatchedgenres_' + type + 's'][i]['sum'] }} films
                                    </span>
                                    <div class="labcontainer" style="width:{{ user.stats['mostWatchedgenres_' + type + 's'][i]['sum'] * 100 /user.stats['mostWatchedgenres_' + type + 's'][0]['sum'] }}%;"></div>
                                </a>
                        {%endfor%}
                    </div>
                     {%endfor%}
                </div>
            </section>
            {% if year == '' %}
            <section class="sectionStats">
                <div class="sepline">
                    <span>List progress</span>
                    <div class="line"></div>
                </div>
                <div class="pielists">
                    {%for element in user['stats'+year].statsLists%}
                        <div class="donut"
                             style="background:
                                     conic-gradient(#40bcf4 0deg {{ perctodeg(element.perc) }}deg,
                                                    #303c44 {{ perctodeg(element.perc) }}deg 360deg);">
                            <a class="hole" href="{{  lbdurl }}/{{ element._id }}">
                                    <span class="listtitle">{{ element.name }}</span>
                                    <span class="listperc">{{ valtoperc(element.perc) }}%</span>
                                    <span class="listnum">{{ element.watched }} of {{ element.num }}</span>
                            </a>
                        </div>
                    {%endfor%}
                </div>
            </section>
            <section class="sectionStats">
                <div class="sepline">
                    <span>Collections (WIP)</span>
                    <div class="line"></div>
                    <!--<<span class="clickable active" data-show="completeCollection" data-hide="collections">Complete</span>
                    <span class="clickable" data-show="almostCollection" data-hide="collections">Almost Complete</span>-->
                </div>
                <div class="collections">
                    <div id="completeCollection">
                            {%for element in user['stats'+year].collections%}
                                <div class="singleCollection" >
                                    <a class="name" href="{{ lbdurl }}films/in/{{ element['_id'] }}/by/release-earliest/size/large/">
                                        {{ element['name'] }}
                                    </a>
                                    <span class="progress sottotitolo">
                                        {{ element['num'] }} watched
                                    </span>
                                </div>
                            {%endfor%}
                    </div>
                    <div id="almostCollection">
                    </div>
                </div>
            </section>
            <section class="sectionStats">
                <div class="sepline">
                    <span>Rated higher then average</span>
                    <div class="line"></div>
                </div>
                <div class="filmList">
                        {%for element in user['stats'+year].topToAverage%}
                            <div class="singleFilm" >
                                <a class="poster" href="{{ lbdurl }}film/{{ element.uri }}">
                                    <img class="lazy" src="{{ url_for('static', filename='images/poster.jpg') }}" data-src="{{ replaceSize(element.poster, 110, 165) }}" alt="{{ element.uri }}" />
                                </a>
                                <div>
                                    <span class="sottotitolo stelline">{{ numToStars(element.rating) }}</span>
                                    <span class="sottotitolo">vs {{ element.media }}</span>
                                </div>
                            </div>
                        {%endfor%}
                </div>
            </section>
            <section class="sectionStats">
                <div class="sepline">
                    <span>Rated lower then average</span>
                    <div class="line"></div>
                </div>
                <div class="filmList">
                        {%for element in user['stats'+year].flopToAverage%}
                            <div class="singleFilm" >
                                <a class="poster" href="{{ lbdurl }}film/{{ element.uri }}">
                                    <img class="lazy" src="{{ url_for('static', filename='images/poster.jpg') }}" data-src="{{ replaceSize(element.poster, 110, 165) }}" alt="{{ element.uri }}" />
                                </a>
                                <div>
                                    <span class="sottotitolo stelline">{{ numToStars(element.rating) }}</span>
                                    <span class="sottotitolo">vs {{ element.media }}</span>
                                </div>
                            </div>
                        {%endfor%}
                </div>
            </section>
            {% endif %}
            {%for role in [['actor', 'Stars', 'a', 'actors'], ['director', 'Directors', 'd', 'crew_director']]%}
            <section class="sectionStats">
                <div class="sepline">
                    <span>{{ role[1] }}</span>
                    <div class="line"></div>
                    <span class="clickable active" data-show="{{ role[0] }}sWatch" data-hide="{{ role[0] }}sbis">Most Watched</span>
                    <span class="clickable" data-show="{{ role[0] }}sRat" data-hide="{{ role[0] }}sbis">Highest Rated</span>
                </div>
                <div class="{{ role[0] }}s2">
                    {%for type in [['Watch', 'mostWatched', 'w', ''], ['Rat', 'topRated', 'r', 'hide']] %}
                    <section id="{{ role[0] }}s{{ type[0] }}" class="{{ role[0] }}sbis {{ type[3] }}">
                        {%for num in [['1', ''], ['2', 'hide']]%}
                        <div id="{{ role[0] }}s{{ type[0] }}{{ num[0] }}" class="{{ role[0] }}s people {{ num[1] }}">
                            {% if num[0] == '1' %}
                                {% set list = user['stats'+year][type[1]+ role[3]][:10] %}
                            {% else %}
                                {% set list = user['stats'+year][type[1]+ role[3]][10:] %}
                            {% endif %}
                            {%for element in list%}
                                <div class="container_people">
                                    <a href="{{ lbdurl }}{{ user.username }}/films/{% if yearnum != 0 %}diary/for/{{ yearnum }}/{% endif %}with/{{ role[0] }}/{{ element._id }}">
                                        <img class="holeperson lazy" src="{{ url_for('static', filename = 'images/'+role[0]+'.jpg') }}"
                                            {% if 'tmdbImg' in element.info[0] %}
                                                 data-src="https://image.tmdb.org/t/p/w185/{{ element.info[0].tmdbImg }}"
                                            {% endif %}
                                        alt="{{ element._id }}"/>
                                    </a>
                                        {% if element.info|length > 0 %}
                                            <a class="clickable" href="{{ lbdurl }}{{ user.username }}/films/{% if yearnum != 0 %}diary/for/{{ yearnum }}/{% endif %}with/{{ role[0] }}/{{ element._id }}">{{ element.info[0].name }}</a>
                                        {% else %}
                                            <a class="clickable" href="{{ lbdurl }}{{ user.username }}/films/{% if yearnum != 0 %}diary/for/{{ yearnum }}/{% endif %}with/{{ role[0] }}/{{ element._id }}">{{ firstUpperBis(element._id) }}</a>
                                        {% endif %}
                                    {% if type[2]=='w' %}
                                        <a class="sottotitolo" href="{{ lbdurl }}{{ user.username }}/films/{% if yearnum != 0 %}diary/for/{{ yearnum }}/{% endif %}with/{{ role[0] }}/{{ element._id }}">{{ element.sum }} films</a>
                                    {% else %}
                                        <span class="sottotitolo">★ {{ "%.1f"|format(element.average/2) }}</span>
                                    {% endif %}
                                </div>
                            {%endfor%}
                        </div>
                        {%endfor%}
                        <div class="noflex">
                            <a class="clickable {{ role[2] }}{{ type[2] }}2 seeallbutton" data-show="{{ role[0] }}s{{ type[0] }}2" data-hide="{{ role[2] }}{{ type[2] }}2">see more</a>
                        </div>
                    </section>
                    {%endfor%}
                </div>
            </section>
            {%endfor%}

            <section class="sectionStats">
                <div class="sepline">
                    <span>Crew & Studios</span>
                    <div class="line"></div>
                    <span class="clickable active" data-show="crewmostWatched" data-hide="crewbis">Most Watched</span>
                    <span class="clickable" data-show="crewtopRated" data-hide="crewbis">Highest Rated</span>
                </div>
                {%for type in ['mostWatched', 'topRated'] %}
                <section id="crew{{ type }}" class="crewbis {% if type == 'topRated' %} hide{% endif %}">
                    {%for role in roles %}
                        <div class="role">
                            <span class="titlerole">{{ role[2] }}</span>
                            {%for element in user['stats'+year][type+role[0]]%}
                                <div class="{{ type }}limit {% if loop.index > 5 %}hide{% endif %}">
                                    <a class="clickable" href="{{ lbdurl }}{{ user.username }}/films{% if yearnum != 0 %}diary/for/{{ yearnum }}/{% endif %}/with/{{ role[1] }}/{{ element._id }}">
                                         {% if element.info|length > 0 %}
                                            {{ element.info[0].name }}
                                        {% else %}
                                            {{ firstUpperBis(element._id) }}
                                        {% endif %}

                                    </a>
                                    <span class="sottotitolo">
                                        {% if type == 'mostWatched' %}
                                            {{ element.sum }}
                                        {% else %}
                                            {{ '%0.1f'| format(element.average/2) }}
                                        {% endif %}
                                    </span>
                                </div>
                            {%endfor%}
                        </div>
                    {%endfor%}
                <div class="noflex">
                    <a class="clickable {{ type }}btn seeallbutton" data-class-show="{{ type }}limit" data-hide="{{ type }}btn">see more</a>
                </div>
                </section>
                {%endfor%}
            </section>

            <section class="wMap noselect">
                <span class="wmTitle">World Map</span>
                <div class="worldmap noselect" id="world-map"></div>
            </section>
        </div>
    </body>
    <footer>
        <script>
            $(document).ready(function () {

                var isMobile = false;
                if($('#isMobile').is(':visible')) {
                    isMobile = true;
                }

                $(function() {
                    $('.lazy').Lazy();
                });

                $('.clickable').click(function() {
                    $('.'+$(this).attr('data-hide')).addClass('hide');
                    $('#'+$(this).attr('data-show')).removeClass('hide');
                    $('.'+$(this).attr('data-class-show')).removeClass('hide');
                    $(this).addClass('active');
                    $(this).siblings().removeClass('active');
                })

                //BYYEARCHART
                Highcharts.chart('releaseYear', {
                    chart: {type: 'column', backgroundColor: 'transparent', margin:0, border:0},
                    xAxis: {labels: {enabled:false}, title:false, lineColor: 'transparent', visible:false},
                    yAxis: {min: -1, labels: {enabled:false}, title:false, lineColor: 'transparent', visible:false},
                    legend:{enabled:false},
                    title: {text:null},
                    tooltip: {
                        //headerFormat: '<div class="ttYear"><span class="ttTitle">{ return parseInt(point.y) } films</span>',
                        //pointFormat: '<span class="ttSubtitle">Year {point.name}</span>',
                        //footerFormat: '</div>',
                        formatter: function(){
                            return '<div class="ttYear"><span class="ttTitle">' + (parseInt(this.y) - 1).toString() +' films</span>' +
                                '<span class="ttSubtitle">Year '+ this.points[0].key + '</span></div>'
                        },
                        shared: true,
                        useHTML: true,
                        shape: 'square',
                        borderWidth:0,
                        shadow: false,
                        backgroundColor: null,
                    },
                    plotOptions: {column: {pointPadding: 0.2, borderWidth: 0, borderRadius: 3, groupPadding: 0,}},
                    series: [{
                            data: [
                                {%for element in user['stats'+year].totalyear%}
                                    {name: "{{ element['_id'] }}", y: {{ (element['sum']) + 1 }},
                                            {% if (element['sum']) == 0 %}color: "#445566"{% endif %}
                                    },
                                {%endfor%}
                            ],
                            label: {enabled: false},
                            color: {
                                linearGradient: [0, 0, $('.chart-container').width(), 0],
                                stops: [[0.00, '#00e054'], [1.00, '#3fbcf2']]
                            },
                            point: {
                                events: {
                                    click: function () {
                                        if (!isMobile) {
                                            location.href = '{{ lbdurl }}{{ user.username }}/films/year/' + this.options.name + "/";
                                        }
                                    }
                                }
                            }
                        }],
                });

                Highcharts.chart('ratingYear', {
                    chart: {type: 'column', backgroundColor: 'transparent', margin:0, border:0},
                    xAxis: {labels: {enabled:false}, title:false, lineColor: 'transparent', visible:false},
                    yAxis: {min: -1, labels: {enabled:false}, title:false, lineColor: 'transparent', visible:false},
                    legend:{enabled:false},
                    title: {text:null},
                    tooltip: {
                        //headerFormat: '<div class="ttYear"><span class="ttTitle">{ return parseInt(point.y) } films</span>',
                        //pointFormat: '<span class="ttSubtitle">Year {point.name}</span>',
                        //footerFormat: '</div>',
                        formatter: function(){
                            return '<div class="ttYear"><span class="ttTitle">Average ' + parseFloat(this.y - 0.1).toFixed(2).toString() +'</span>' +
                                '<span class="ttSubtitle">Year '+ this.points[0].key + '</span></div>'
                        },
                        shared: true,
                        useHTML: true,
                        shape: 'square',
                        borderWidth:0,
                        shadow: false,
                        backgroundColor: null,
                    },
                    plotOptions: {column: {pointPadding: 0.2, borderWidth: 0, borderRadius: 3, groupPadding: 0,}},
                    series: [{
                            data: [
                                {%for element in user['stats'+year].totalyear%}
                                    {name: "{{ element['_id'] }}", y: {{ ifNull0_divide2(element['average']) + 0.1 }},
                                            {% if ifNull0_divide2(element['average']) == 0 %}color: "#445566"{% endif %}
                                    },
                                {%endfor%}
                            ],
                            label: {enabled: false},
                            color: {
                                linearGradient: [0, 0, $('.chart-container').width(), 0],
                                stops: [[0.00, '#ffb860'], [1.00, '#ffe870']]
                            },
                            point: {
                                events: {
                                    click: function () {
                                        if (!isMobile) {
                                            location.href = '{{ lbdurl }}{{ user.username }}/films/year/' + this.options.name + "/";
                                        }
                                    }
                                }
                            }
                        }],
                });

                //WORLDMAP
                var worldData = {
                    {%for element in user['stats'+year].totalcountry%}
                        '{{ element['info']['_id'] }}': {{ element['sum'] }},
                    {%endfor%}
                };

                var worldDataUri = {
                    {%for element in user['stats'+year].totalcountry%}
                        '{{ element['info']['_id'] }}': '{{ element['info']['uri'] }}',
                    {%endfor%}
                };

                $('#world-map').vectorMap({
                  map: 'world_mill',
                  backgroundColor: "",
                  series: {
                    regions: [{
                      values: worldData,
                      scale: ['#007834', '#00e054'],
                    }]
                  },
                  tooltip: {
                      enabled: false,
                  },
                  regionStyle: {
                    initial: {
                        fill: '#303c44'
                    },
                    hover:{
                        fill: '#40bcf4'
                    }
                  },
                  onRegionTipShow: function(e, el, code) {
                      var text = "0"
                      if (typeof worldDataUri[code] !== 'undefined') {
                          text = worldData[code]
                      }
                      el.html($("<span/>", {'class': 'ttTitle', 'html': el.html()}));
                      el.append($("<br/>"));
                      el.append($("<span/>", {'class': 'ttSubtitle', 'html': "Films watched: " + text}));
                      el.html($("<div/>", {'class': 'maptt', 'html': el.html()}));
                      el.append($("<div/>", {'class': 'ttPointer'}));
                      el.html($("<a/>", {'class': 'maptt2', 'onClick':'alert(0);', 'href': 'www.google.com', 'html': el.html()}));
                  },
                  onRegionClick: function(e, el, code){
                      if (!isMobile) {
                        clickMap(el);
                      }
                  },
                  onMarkerClick: function(e, code){
                      alert(code);
                  },
                });

                function clickMap(el){
                      if (typeof worldDataUri[el] !== 'undefined') {
                          location.href = '{{ lbdurl }}{{ user.username }}/films/country/' + worldDataUri[el] + '/';
                      }
                }


            })
        </script>
    </footer>
</html>