<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>&lrm;{{ user.username }}’s all-time stats &bull; Letterboxd</title>
        <script src="//cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-jvectormap-2.0.5.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-jvectormap-2.0.5.min.js') }}"></script>
        <script src="//jvectormap.com/js/jquery-jvectormap-world-mill.js"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class="headerbar">
            <a href="https://letterboxd.com/">
                <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="letterboxdlogo"/>
            </a>
            <span class="madeby">Project made by GiuDiMax</span>
        </div>
        <div id="content" class="content">
            <section class="mainTitlesec">
                <h1 class="mainTitle">A Life in Film</h1>
                <div class="numbersStats">
                    <div>
                        <span class="number">{{ format_comma(user.stats.total[0].movies) }}</span>
                        <span class="text">Films</span>
                    </div>
                    <div>
                        <span class="number">{{ format_comma(user.stats.total[0].runtime/60) }}</span>
                        <span class="text">Hours</span>
                    </div>
                    <div>
                        <span class="number">?</span>
                        <span class="text">Directors</span>
                    </div>
                    <div>
                        <span class="number">?</span>
                        <span class="text">Countries</span>
                    </div>
                </div>
            </section>
            <section class="sectionStats">
                <div class="sepline">
                    <span>By release year</span>
                    <div class="line"></div>
                    <span class="clickable active" data-show="releaseYear" data-hide="yearChart">Films</span>
                    <span class="clickable" data-show="ratingYear" data-hide="yearChart">Ratings</span>
                </div>
                <div class="chart-container">
                    <canvas id="releaseYear" class="yearChart"></canvas>
                    <canvas id="ratingYear" class="yearChart hide"></canvas>
                </div>
                <div class="years">
                    <span>{{ user.stats.totalyear[0]._id }}</span>
                    <span>{{ user.stats.totalyear[-1]._id }}</span>
                </div>
            </section>
            <section class="sectionStats">
                <div class="sepline">
                    <span>Genres, Countries & Languages</span>
                    <div class="line"></div>
                </div>
                <div class="attributes-chart">
                    <div>
                        <canvas id="genreChart"></canvas>
                    </div>
                    <div>
                        <canvas id="countriesChart"></canvas>
                    </div>
                    <div>
                        <canvas id="languageChart"></canvas>
                    </div>
                </div>
            </section>
            <section class="attributes-chart">
                <div>
                    <canvas id="genre2Chart"></canvas>
                </div>
                <div>
                    <canvas id="genre3Chart"></canvas>
                </div>
            </section>
            <section class="pielists">
                {%for element in user.stats.statsLists%}
                    <div class="donut"
                         style="background:
                                 conic-gradient(#40bcf4 0deg {{ perctodeg(element.perc) }}deg,
                                                #303c44 {{ perctodeg(element.perc) }}deg 360deg);">
                        <div class="hole">
                            <span class="listtitle">{{ element.name }}</span>
                            <span class="listperc">{{ valtoperc(element.perc) }}%</span>
                            <span class="listnum">{{ element.watched }} of {{ element.num }}</span>
                        </div>
                    </div>
                {%endfor%}
            </section>
            <section class="actors">
                {%for element in user.stats.mostWatchedactors%}
                    <div class="container_people">
                        <span>{{ element.info[0].name }}</span>
                        <img class="holeperson" src="https://image.tmdb.org/t/p/w185/{{ element.info[0].tmdbImg }}"  alt="{{ element.info[0].name }}"/>
                    </div>
                {%endfor%}
            </section>
            <section>
                <div class="worldmap" id="world-map"></div>
            </section>
        </div>
    </body>
    <footer>
        <script>
            $(document).ready(function () {


                $('.clickable').click(function() {
                    $('.'+$(this).attr('data-hide')).addClass('hide');
                    $('#'+$(this).attr('data-show')).removeClass('hide');
                    $(this).addClass('active');
                    $(this).siblings().removeClass('active');
                })

                //WORLDMAP
                var worldData = {
                    {%for element in user.stats.totalcountry%}
                        '{{ element['info']['_id'] }}': {{ element['sum'] }},
                    {%endfor%}
                };

                var worldDataUri = {
                    {%for element in user.stats.totalcountry%}
                        '{{ element['info']['_id'] }}': '{{ element['info']['uri'] }}',
                    {%endfor%}
                };

                $('#world-map').vectorMap({
                  map: 'world_mill',
                  series: {
                    regions: [{
                      values: worldData,
                      scale: ['#007834', '#00e054'],
                    }]
                  },
                  onRegionTipShow: function(e, el, code) {
                      el.html(el.html() + ' ' + worldData[code]);
                  },
                  onRegionClick: function(e, el, code){
                      location.href = '{{ lbdurl }}{{ user.username }}/films/country/'+ worldDataUri[el] + '/' ;
                  }
                });

                //BYYEARCHART
                var ctx = document.getElementById('releaseYear');
                var ctx2 = document.getElementById('ratingYear');
                var context = ctx.getContext('2d');
                var context2 = ctx2.getContext('2d');
                var gradient = context.createLinearGradient(0, 0, 950, 150);
                var gradient2 = context2.createLinearGradient(0, 0, 950, 150);
                gradient.addColorStop(0, 'rgba(6, 221, 98, 1)');
                gradient.addColorStop(1, 'rgba(63, 188, 242, 1)');
                gradient2.addColorStop(0, 'rgba(255, 184, 96, 1)');
                gradient2.addColorStop(1, 'rgba(255, 232, 112, 1)');
                var releaseYearChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        datasets: [{
                            data: [
                                {%for element in user.stats.totalyear%}
                                    {x: "{{ element['_id'] }}", y: {{ (element['sum']) }}},
                                {%endfor%}
                            ],
                            backgroundColor: gradient,
                            borderWidth: 0,
                            borderRadius: 3,
                        }]
                    },
                    options: {
                        plugins: {legend: {display: false}},
                        maintainAspectRatio: false,
                        scales: {
                            y: {beginAtZero: true, display: false},
                            x: {display:false}
                        },
                        interaction: {
                            mode: 'nearest'
                        },
                        responsive: true,
                        onClick: (e, items) => {
                            location.href = '{{ lbdurl }}{{ user.username }}/films/year/'+ releaseYearChart.data.datasets[0].data[items[0].index].x + '/' ;
                        }
                    }
                });
                var ratingYear = new Chart(ctx2, {
                    type: 'bar',
                    data: {
                        datasets: [{
                            data: [
                                {%for element in user.stats.totalyear%}
                                    {x: "{{ element['_id'] }}", y: {{ ifNull0_divide2(element['average']) }}},
                                {%endfor%}
                            ],
                            backgroundColor: gradient2,
                            borderWidth: 0,
                            borderRadius: 3,
                        }]
                    },
                    options: {
                        plugins: {legend: {display: false}},
                        maintainAspectRatio: false,
                        scales: {
                            y: {beginAtZero: true, display: false},
                            x: {display:false}
                        },
                        interaction: {
                            mode: 'nearest'
                        },
                        responsive: true,
                        onClick: (e, items) => {
                            location.href = '{{ lbdurl }}{{ user.username }}/films/year/'+ releaseYearChart.data.datasets[0].data[items[0].index].x + '/' ;
                        }
                    }
                });

                //GENRES CHART
                var genreUri = {
                    {%for element in user.stats.mostWatchedgenres_main%}
                        '{{ firstUpper(element['_id']) }}': '{{ element['_id'] }}',
                    {%endfor%}
                };

                new Chart(document.getElementById('genreChart'), {
                    type: 'bar',
                    data: {
                        datasets: [{
                            data: [
                                {% for i in range(10) %}
                                    {y: "{{ firstUpper(user.stats.mostWatchedgenres_main[i]['_id']) }}",
                                     x: {{ (user.stats.mostWatchedgenres_main[i]['sum']) }}},
                                {%endfor%}
                            ],
                            backgroundColor: 'rgb(0, 224, 84)',
                            borderWidth: 0,
                            borderRadius: 3,
                        }]
                    },
                    options: {
                        plugins: {legend: {display: false}},
                        indexAxis: 'y',
                        maintainAspectRatio: false,
                        scales: {
                            y: {beginAtZero: true,},
                            x: {beginAtZero: true, display:false}
                        },
                        interaction: {
                            mode: 'nearest'
                        },
                        responsive: true,
                        onClick: (e, el) => {
                            console.log(e);
                            console.log(el);
                            //location.href = '{{ lbdurl }}{{ user.username }}/films/genres/'+ genreUri[el] + '/' ;
                        }
                    }
                });
            })
        </script>
    </footer>
</html>