<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>&lrm;{{ user.username }}’s all-time stats &bull; Letterboxd</title>
        <script src="//cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-jvectormap-2.0.5.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-jvectormap-2.0.5.min.js') }}"></script>
        <script src="//jvectormap.com/js/jquery-jvectormap-world-mill.js"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
    </head>
    <body>
        <div id="isMobile"></div>
        <div class="headerbar">
            <a href="https://letterboxd.com/">
                <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="letterboxdlogo"/>
            </a>
            <span class="madeby">Project made by GiuDiMax</span>
        </div>
        <div id="content" class="content">
            <section class="mainTitlesec">
                <h1 class="mainTitle">A Life in Film</h1>
                <div class="numbersStats">
                    <div>
                        <span class="number">{{ format_comma(user.stats.total[0].movies) }}</span>
                        <span class="text">Films</span>
                    </div>
                    <div>
                        <span class="number">{{ format_comma(user.stats.total[0].runtime/60) }}</span>
                        <span class="text">Hours</span>
                    </div>
                    <div>
                        <span class="number">{{ format_comma(user.stats.totalDirectors[0].count) }}</span>
                        <span class="text">Directors</span>
                    </div>
                    <div>
                        <span class="number">{{ format_comma(user.stats.totalCountry[0].count) }}</span>
                        <span class="text">Countries</span>
                    </div>
                </div>
            </section>
            <section class="sectionStats">
                <div class="sepline">
                    <span>By release year</span>
                    <div class="line"></div>
                    <span class="clickable active" data-show="releaseYear" data-hide="yearChart">Films</span>
                    <span class="clickable" data-show="ratingYear" data-hide="yearChart">Ratings</span>
                </div>
                <div class="chart-container">
                    <canvas id="releaseYear" class="yearChart"></canvas>
                    <canvas id="ratingYear" class="yearChart hide"></canvas>
                </div>
                <div class="years">
                    <span>{{ user.stats.totalyear[0]._id }}</span>
                    <span>{{ user.stats.totalyear[-1]._id }}</span>
                </div>
            </section>
            <section class="sectionStats">
                <div class="sepline">
                    <span>Genres, Countries & Languages</span>
                    <div class="line"></div>
                </div>
                <div class="attributes-chart sixColumn">
                    <div class="labels">
                        {% for i in range(10) %}
                            <a class="clickable label1" href="{{ lbdurl }}{{ user.username }}/films/genre/{{ user.stats.mostWatchedgenres_main[i]['_id'] }}">
                                {{ firstUpper(user.stats.mostWatchedgenres_main[i]['_id']) }}
                            </a>
                        {%endfor%}
                    </div>
                    <div>
                        <canvas id="genreChart"></canvas>
                    </div>
                    <div class="labels">
                        {% for i in range(10) %}
                            <a class="clickable label1" href="{{ lbdurl }}{{ user.username }}/films/country/{{ user.stats.mostWatchedcountry[i]['_id'] }}">
                                {{ firstUpper(user.stats.mostWatchedcountry[i]['_id']) }}
                            </a>
                        {%endfor%}
                    </div>
                    <div>
                        <canvas id="countryChart"></canvas>
                    </div>
                    <div class="labels">
                        {% for i in range(10) %}
                            <a class="clickable label1" href="{{ lbdurl }}{{ user.username }}/films/language/{{ user.stats.mostWatchedlanguage[i]['_id'] }}">
                                {{ firstUpper(user.stats.mostWatchedlanguage[i]['_id']) }}
                            </a>
                        {%endfor%}
                    </div>
                    <div>
                        <canvas id="languageChart"></canvas>
                    </div>
                </div>
            </section>
            <section class="sectionStats">
                <div class="sepline">
                    <span>THEMES & NANOGENRES®</span>
                    <div class="line"></div>
                </div>
                <div class="attributes-chart twocolumn">
                    <div class="left overlap1">
                        <div class="graph">
                            <canvas id="genre2Chart"></canvas>
                        </div>
                        <div class="labels">
                            {% for i in range(10) %}
                                <a class="clickable label2" href="{{ lbdurl }}{{ user.username }}/films/theme/{{ user.stats['mostWatchedgenres_themes'][i]['_id'] }}">
                                    <span class="leftText">
                                        {{ firstUpper(user.stats['mostWatchedgenres_themes'][i]['_id']) }}
                                    </span>
                                    <span class="bold right">
                                        {{ user.stats['mostWatchedgenres_themes'][i]['sum'] }} films
                                    </span>
                                </a>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="right overlap1">
                        <div class="graph">
                            <canvas id="genre3Chart"></canvas>
                        </div>
                        <div class="labels">
                            {% for i in range(10) %}
                                <a class="clickable label2" href="{{ lbdurl }}{{ user.username }}/films/mini-theme/{{ user.stats['mostWatchedgenres_mini-themes'][i]['_id'] }}">
                                    <span class="leftText">
                                        {{ firstUpper(user.stats['mostWatchedgenres_mini-themes'][i]['_id']) }}
                                    </span>
                                    <span class="bold right">
                                        {{ user.stats['mostWatchedgenres_mini-themes'][i]['sum'] }} films
                                    </span>
                                </a>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </section>
            <section class="sectionStats">
                <div class="sepline">
                    <span>List progress</span>
                    <div class="line"></div>
                </div>
                <div class="pielists">
                    {%for element in user.stats.statsLists%}
                        <div class="donut"
                             style="background:
                                     conic-gradient(#40bcf4 0deg {{ perctodeg(element.perc) }}deg,
                                                    #303c44 {{ perctodeg(element.perc) }}deg 360deg);">
                            <a class="hole" href="{{  lbdurl }}/{{ element._id }}">
                                    <span class="listtitle">{{ element.name }}</span>
                                    <span class="listperc">{{ valtoperc(element.perc) }}%</span>
                                    <span class="listnum">{{ element.watched }} of {{ element.num }}</span>
                            </a>
                        </div>
                    {%endfor%}
                </div>
            </section>
            <section class="sectionStats">
                <div class="sepline">
                    <span>Collections (WIP)</span>
                    <div class="line"></div>
                    <!--<<span class="clickable active" data-show="completeCollection" data-hide="collections">Complete</span>
                    <span class="clickable" data-show="almostCollection" data-hide="collections">Almost Complete</span>-->
                </div>
                <div class="collections">
                    <div id="completeCollection">
                            {%for element in user.stats.collections%}
                                <div class="singleCollection" >
                                    <a class="name" href="{{ lbdurl }}films/in/{{ element['_id'] }}/by/release-earliest/size/large/">
                                        {{ element['name'] }}
                                    </a>
                                    <span class="progress sottotitolo">
                                        {{ element['num'] }} watched
                                    </span>
                                </div>
                            {%endfor%}
                    </div>
                    <div id="almostCollection">
                    </div>
                </div>
            </section>
            <section class="sectionStats">
                <div class="sepline">
                    <span>Rated higher then average</span>
                    <div class="line"></div>
                </div>
                <div class="filmList">
                        {%for element in user.stats.topToAverage%}
                            <div class="singleFilm" >
                                <a class="poster" href="{{ lbdurl }}film/{{ element.uri }}">
                                    <img class="lazy" src="{{ url_for('static', filename='images/poster.jpg') }}" data-src="{{ replaceSize(element.poster, 110, 165) }}" alt="{{ element.uri }}" />
                                </a>
                                <div>
                                    <span class="sottotitolo stelline">{{ numToStars(element.rating) }}</span>
                                    <span class="sottotitolo">vs {{ element.media }}</span>
                                </div>
                            </div>
                        {%endfor%}
                </div>
            </section>
            <section class="sectionStats">
                <div class="sepline">
                    <span>Rated lower then average</span>
                    <div class="line"></div>
                </div>
                <div class="filmList">
                        {%for element in user.stats.flopToAverage%}
                            <div class="singleFilm" >
                                <a class="poster" href="{{ lbdurl }}film/{{ element.uri }}">
                                    <img class="lazy" src="{{ url_for('static', filename='images/poster.jpg') }}" data-src="{{ replaceSize(element.poster, 110, 165) }}" alt="{{ element.uri }}" />
                                </a>
                                <div>
                                    <span class="sottotitolo stelline">{{ numToStars(element.rating) }}</span>
                                    <span class="sottotitolo">vs {{ element.media }}</span>
                                </div>
                            </div>
                        {%endfor%}
                </div>
            </section>

            {%for role in [['actor', 'Stars', 'a', 'actors'], ['director', 'Directors', 'd', 'crew_director']]%}
            <section class="sectionStats">
                <div class="sepline">
                    <span>{{ role[1] }}</span>
                    <div class="line"></div>
                    <span class="clickable active" data-show="{{ role[0] }}sWatch" data-hide="{{ role[0] }}sbis">Most Watched</span>
                    <span class="clickable" data-show="{{ role[0] }}sRat" data-hide="{{ role[0] }}sbis">Highest Rated</span>
                </div>
                <div class="{{ role[0] }}s2">
                    {%for type in [['Watch', 'mostWatched', 'w', ''], ['Rat', 'topRated', 'r', 'hide']] %}
                    <section id="{{ role[0] }}s{{ type[0] }}" class="{{ role[0] }}sbis {{ type[3] }}">
                        {%for num in [['1', ''], ['2', 'hide']]%}
                        <div id="{{ role[0] }}s{{ type[0] }}{{ num[0] }}" class="{{ role[0] }}s people {{ num[1] }}">
                            {% if num[0] == '1' %}
                                {% set list = user.stats[type[1]+ role[3]][:10] %}
                            {% else %}
                                {% set list = user.stats[type[1]+ role[3]][10:] %}
                            {% endif %}
                            {%for element in list%}
                                <div class="container_people">
                                    <a href="{{ lbdurl }}{{ user.username }}/films/with/{{ role[0] }}/{{ element._id }}">
                                        <img class="holeperson lazy" src="{{ url_for('static', filename = 'images/'+role[0]+'.jpg') }}"
                                            {% if 'tmdbImg' in element.info[0] %}
                                                 data-src="https://image.tmdb.org/t/p/w185/{{ element.info[0].tmdbImg }}"
                                            {% endif %}
                                        alt="{{ element._id }}"/>
                                    </a>
                                        {% if element.info|length > 0 %}
                                            <a class="clickable" href="{{ lbdurl }}{{ user.username }}/films/with/{{ role[0] }}/{{ element._id }}">{{ element.info[0].name }}</a>
                                        {% else %}
                                            <a class="clickable" href="{{ lbdurl }}{{ user.username }}/films/with/{{ role[0] }}/{{ element._id }}">{{ firstUpperBis(element._id) }}</a>
                                        {% endif %}
                                    {% if type[2]=='w' %}
                                        <a class="sottotitolo" href="{{ lbdurl }}{{ user.username }}/films/with/{{ role[0] }}/{{ element._id }}">{{ element.sum }} films</a>
                                    {% else %}
                                        <span class="sottotitolo">★ {{ "%.1f"|format(element.average/2) }}</span>
                                    {% endif %}
                                </div>
                            {%endfor%}
                        </div>
                        {%endfor%}
                        <div class="noflex">
                            <a class="clickable {{ role[2] }}{{ type[2] }}2 seeallbutton" data-show="{{ role[0] }}s{{ type[0] }}2" data-hide="{{ role[2] }}{{ type[2] }}2">see more</a>
                        </div>
                    </section>
                    {%endfor%}
                </div>
            </section>
            {%endfor%}

            <section class="sectionStats">
                <div class="sepline">
                    <span>Crew & Studios</span>
                    <div class="line"></div>
                    <span class="clickable active" data-show="crewmostWatched" data-hide="crewbis">Most Watched</span>
                    <span class="clickable" data-show="crewtopRated" data-hide="crewbis">Highest Rated</span>
                </div>
                {%for type in ['mostWatched', 'topRated'] %}
                <section id="crew{{ type }}" class="crewbis {% if type == 'topRated' %} hide{% endif %}">
                    {%for role in roles %}
                        <div class="role">
                            <span class="titlerole">{{ role[2] }}</span>
                            {%for element in user.stats[type+role[0]]%}
                                <div class="{{ type }}limit {% if loop.index > 5 %}hide{% endif %}">
                                    <a class="clickable" href="{{ lbdurl }}{{ user.username }}/films/with/{{ role[1] }}/{{ element._id }}">
                                         {% if element.info|length > 0 %}
                                            {{ element.info[0].name }}
                                        {% else %}
                                            {{ firstUpperBis(element._id) }}
                                        {% endif %}

                                    </a>
                                    <span class="sottotitolo">
                                        {% if type == 'mostWatched' %}
                                            {{ element.sum }}
                                        {% else %}
                                            {{ '%0.1f'| format(element.average/2) }}
                                        {% endif %}
                                    </span>
                                </div>
                            {%endfor%}
                        </div>
                    {%endfor%}
                <div class="noflex">
                    <a class="clickable {{ type }}btn seeallbutton" data-class-show="{{ type }}limit" data-hide="{{ type }}btn">see more</a>
                </div>
                </section>
                {%endfor%}
            </section>

            <section class="wMap noselect">
                <span class="wmTitle">World Map</span>
                <div class="worldmap noselect" id="world-map"></div>
            </section>
        </div>
    </body>
    <footer>
        <script>
            $(document).ready(function () {

                var isMobile = false;
                if($('#isMobile').is(':visible')) {
                    isMobile = true;
                }

                $(function() {
                    $('.lazy').Lazy();
                });

                $('.clickable').click(function() {
                    $('.'+$(this).attr('data-hide')).addClass('hide');
                    $('#'+$(this).attr('data-show')).removeClass('hide');
                    $('.'+$(this).attr('data-class-show')).removeClass('hide');
                    $(this).addClass('active');
                    $(this).siblings().removeClass('active');
                })

                //WORLDMAP
                var worldData = {
                    {%for element in user.stats.totalcountry%}
                        '{{ element['info']['_id'] }}': {{ element['sum'] }},
                    {%endfor%}
                };

                var worldDataUri = {
                    {%for element in user.stats.totalcountry%}
                        '{{ element['info']['_id'] }}': '{{ element['info']['uri'] }}',
                    {%endfor%}
                };

                $('#world-map').vectorMap({
                  map: 'world_mill',
                  backgroundColor: "",
                  series: {
                    regions: [{
                      values: worldData,
                      scale: ['#007834', '#00e054'],
                    }]
                  },
                  tooltip: {
                      enabled: false,
                  },
                  regionStyle: {
                    initial: {
                        fill: '#303c44'
                    },
                    hover:{
                        fill: '#40bcf4'
                    }
                  },
                  onRegionTipShow: function(e, el, code) {
                      var text = "0"
                      if (typeof worldDataUri[code] !== 'undefined') {
                          text = worldData[code]
                      }
                      el.html($("<span/>", {'class': 'ttTitle', 'html': el.html()}));
                      el.append($("<br/>"));
                      el.append($("<span/>", {'class': 'ttSubtitle', 'html': "Films watched: " + text}));
                      el.html($("<div/>", {'class': 'maptt', 'html': el.html()}));
                      el.append($("<div/>", {'class': 'ttPointer'}));
                      el.html($("<a/>", {'class': 'maptt2', 'onClick':'alert(0);', 'href': 'www.google.com', 'html': el.html()}));
                  },
                  onRegionClick: function(e, el, code){
                      if (!isMobile) {
                        clickMap(el);
                      }
                  },
                  onMarkerClick: function(e, code){
                      alert(code);
                  },
                });

                function clickMap(el){
                      if (typeof worldDataUri[el] !== 'undefined') {
                          location.href = '{{ lbdurl }}{{ user.username }}/films/country/' + worldDataUri[el] + '/';
                      }
                }

                //BYYEARCHART
                var ctx = document.getElementById('releaseYear');
                var ctx2 = document.getElementById('ratingYear');
                var context = ctx.getContext('2d');
                var context2 = ctx2.getContext('2d');
                var gradient = context.createLinearGradient(0, 0, 950, 150);
                var gradient2 = context2.createLinearGradient(0, 0, 950, 150);
                gradient.addColorStop(0, 'rgba(6, 221, 98, 1)');
                gradient.addColorStop(1, 'rgba(63, 188, 242, 1)');
                gradient2.addColorStop(0, 'rgba(255, 184, 96, 1)');
                gradient2.addColorStop(1, 'rgba(255, 232, 112, 1)');
                var releaseYearChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        datasets: [{
                            data: [
                                {%for element in user.stats.totalyear%}
                                    {x: "{{ element['_id'] }}", y: {{ (element['sum']) }}},
                                {%endfor%}
                            ],
                            backgroundColor: gradient,
                            borderWidth: 0,
                            borderRadius: 3,
                            borderSkipped: false,
                            borderSkipped: false,
                        }]
                    },
                    options: {
                        plugins: {legend: {display: false}},
                        maintainAspectRatio: false,
                        scales: {
                            y: {beginAtZero: true, display:false},
                            x: {display:false},
                            offset: false,
                        },
                        interaction: {
                            mode: 'nearest'
                        },
                        responsive: true,
                        onClick: (e, items) => {
                            if (isMobile) {
                            location.href = '{{ lbdurl }}{{ user.username }}/films/year/'+ releaseYearChart.data.datasets[0].data[items[0].index].x + '/' ;
                        }}
                    }
                });
                new Chart(ctx2, {
                    type: 'bar',
                    data: {
                        datasets: [{
                            data: [
                                {%for element in user.stats.totalyear%}
                                    {x: "{{ element['_id'] }}", y: {{ ifNull0_divide2(element['average']) }}},
                                {%endfor%}
                            ],
                            backgroundColor: gradient2,
                            borderWidth: 0,
                            borderRadius: 3,
                            borderSkipped: false,
                        }]
                    },
                    options: {
                        plugins: {legend: {display: false}},
                        maintainAspectRatio: false,
                        scales: {
                            y: {beginAtZero: true, display:false},
                            x: {display:false},
                            offset: false,
                        },
                        interaction: {
                            mode: 'nearest'
                        },
                        responsive: true,
                        onClick: (e, items) => {
                            if (isMobile) {
                            location.href = '{{ lbdurl }}{{ user.username }}/films/year/'+ releaseYearChart.data.datasets[0].data[items[0].index].x + '/' ;
                        }}
                    }
                });

                //LANGUAGE COUNTY CHART
                var languageChart = new Chart(document.getElementById('languageChart'), {
                    type: 'bar',
                    data: {
                        datasets: [{
                            data: [
                                {% for i in range(10) %}
                                    {y: "{{ user.stats.mostWatchedlanguage[i]['_id'] }}",
                                     x: {{ (user.stats.mostWatchedlanguage[i]['sum']) }}},
                                {%endfor%}
                            ],
                            backgroundColor: '#ff8000',
                            borderWidth: 0,
                            borderRadius: 3,
                            borderSkipped: false,
                        }]
                    },
                    options: {
                        barPercentage: 0.97,
                        plugins: {legend: {display: false}},
                        indexAxis: 'y',
                        maintainAspectRatio: false,
                        scales: {
                            y: {beginAtZero: true, display:false},
                            x: {beginAtZero: true, display:false},
                            offset: false,
                        },
                        interaction: {
                            mode: 'nearest'
                        },
                        responsive: true,
                    }
                });

                var countryChart = new Chart(document.getElementById('countryChart'), {
                    type: 'bar',
                    data: {
                        datasets: [{
                            data: [
                                {% for i in range(10) %}
                                    {y: "{{ user.stats.mostWatchedcountry[i]['_id'] }}",
                                     x: {{ (user.stats.mostWatchedcountry[i]['sum']) }}},
                                {%endfor%}
                            ],
                            backgroundColor: '#40bcf4',
                            borderWidth: 0,
                            borderRadius: 3,
                            borderSkipped: false,
                        }]
                    },
                    options: {
                        barPercentage: 0.97,
                        plugins: {legend: {display: false}},
                        indexAxis: 'y',
                        maintainAspectRatio: false,
                        scales: {
                            y: {beginAtZero: true, display: false},
                            x: {display:false, display: false},
                            offset: false,
                        },
                        interaction: {
                            mode: 'nearest'
                        },
                        responsive: true,
                    }
                });

                //GENRES CHART

                var genreChart = new Chart(document.getElementById('genreChart'), {
                    type: 'bar',
                    data: {
                        datasets: [{
                            data: [
                                {% for i in range(10) %}
                                    {y: "{{ user.stats.mostWatchedgenres_main[i]['_id'] }}",
                                     x: {{ (user.stats.mostWatchedgenres_main[i]['sum']) }}},
                                {%endfor%}
                            ],
                            backgroundColor: '#08e359',
                            borderWidth: 0,
                            borderRadius: 3,
                            borderSkipped: false,
                        }]
                    },
                    options: {
                        barPercentage: 0.97,
                        plugins: {legend: {display: false}},
                        indexAxis: 'y',
                        maintainAspectRatio: false,
                        scales: {
                            y: {beginAtZero: true, display: false},
                            x: {display:false, display: false},
                            offset: false,
                        },
                        interaction: {
                            mode: 'nearest'
                        },
                        responsive: true,
                    }
                });

                new Chart(document.getElementById('genre2Chart'), {
                    type: 'bar',
                    data: {
                        datasets: [{
                            data: [
                                {% for i in range(10) %}
                                    {y: "{{ firstUpper(user.stats.mostWatchedgenres_themes[i]['_id']) }}",
                                     x: {{ (user.stats.mostWatchedgenres_themes[i]['sum']) }}},
                                {%endfor%}
                            ],
                            backgroundColor: '#283038',
                            borderWidth: 0,
                            borderRadius: 3,
                            borderSkipped: false,
                        }]
                    },
                    options: {
                        barPercentage: 0.97,
                        plugins: {legend: {display: false}, tooltip: {enabled: false}},
                        indexAxis: 'y',
                        maintainAspectRatio: false,
                        scales: {
                            y: {beginAtZero: true, display: false },
                            x: {beginAtZero: true, display: false},
                        },
                        interaction: {
                            mode: 'nearest'
                        },
                        responsive: true,
                    }
                });

                new Chart(document.getElementById('genre3Chart'), {
                    type: 'bar',
                    data: {
                        datasets: [{
                            data: [
                                {% for i in range(10) %}
                                    {y: "{{ firstUpper(user.stats['mostWatchedgenres_mini-themes'][i]['_id']) }}",
                                     x: {{ (user.stats['mostWatchedgenres_mini-themes'][i]['sum']) }}},
                                {%endfor%}
                            ],
                            backgroundColor: '#283038',
                            borderWidth: 0,
                            borderRadius: 3,
                            borderSkipped: false,
                        }]
                    },
                    options: {
                        barPercentage: 0.97,
                        plugins: {legend: {display: false}},
                        indexAxis: 'y',
                        maintainAspectRatio: false,
                        scales: {
                            y: {beginAtZero: true, display: false },
                            x: {beginAtZero: true, display: false}
                        },
                        interaction: {
                            mode: 'nearest'
                        },
                        responsive: true,
                    }
                });
            })
        </script>
    </footer>
</html>