<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Not Allowed - Statsboxd</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?q=3.0.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BMKEGDRHD5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BMKEGDRHD5');
    </script>
    <body>
        <div id="isMobile"></div>
        <div class="headerbar">
            <a href="/">
                <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="statsboxdlogo" class="logoup"/>
            </a>
        </div>
        <div class="shortTitle">
            <h2>This username is not allowed.</h2>
            <!--<h3>Please contact the dev, specifying your lbd username, via the <a href="/contact">form</a> or on <a href="https://t.me/giudimax">Telegram</a></h3>-->
            <h3>Please contact the dev, specifying your lbd username, via <a href="https://t.me/giudimax">Telegram</a></h3>
        </div>
        <img src="{{ url_for('static', filename='images/noallowed.gif') }}" alt="notallowed" class="centerimg"/>
    </body>
    <footer>
    </footer>
</html>