{% extends "template_general.html" %}

{% block headerbar %}
<div class="navbar">
    <a class="hideMobile" href="//letterboxd.com/giudimax/" target="_blank">Project made by GiuDiMax</a>
    <a class="onlyMobile" href="//letterboxd.com/giudimax/" target="_blank">By GiuDiMax</a>
    <a href="/faq">FAQ</a>
    <a href="//t.me/giudimax" target="_blank">Contact Me</a>
    <a class="hideMobile" href="//buymeacoffee.com/giudimax" target="_blank">Support my projects</a>
    <a class="onlyMobile" href="//buymeacoffee.com/giudimax" target="_blank">Support me</a>
</div>
{% endblock %}

{% block content %}

{% block content2 %}
{% endblock %}

{% endblock %}