{% extends "template_general.html" %}

{% block content %}
<div class="shortTitle">
{% block content3 %}
{% endblock %}
    <div class="support_div">
        <span class="support_text">
            The server where the data is saved and processed has a cost that I support, please consider supporting me.
        </span>
        <script type="text/javascript" src="//cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="giudimax" data-color="#5F7FFF" data-emoji="🚀"  data-font="Lato" data-text="Support my projects" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
    </div>
</div>
{% endblock %}