<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Statsboxd</title>
        <link rel="stylesheet" href="/static/css/main.css?q=11.0.0">
        <link rel="stylesheet" href="/static/css/font.css?q=1.1">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BMKEGDRHD5"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-BMKEGDRHD5');
        </script>
    </head>

    <body>
        <div id="isMobile"></div>
        <div class="headerbar">
            <a href="/">
                <img src="/static/images/logo.webp" alt="statsboxdlogo" class="logoup"/>
            </a>
        </div>
        <div class="shortTitle">
            <h2>Insert your username after "/" in url</h2>
            <h3>You can find your username in url of your Letterboxd profile page.</h3>
            <h3>Example: https://statsboxd.ml/NicolasCage</h3>
            <h3 style="color:#40bcf4; padding-top:20px;">If you are a new user: please contact the dev, specifying your letterboxd username and this site, via <a href="https://t.me/giudimax" style="font-weight: 600; color:#40bcf4">Telegram</a>. Be kind and wait</h3>
        </div>
    </body>
    <footer>
    </footer>
</html>